<!DOCTYPE HTML>
<html>
<head>
<title>Medical Dieases Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<!--//fonts--> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script>
   $(function(){
            $('[data-toggle="tooltip"]').tooltip();
   })
</script>
<style>
.about{
	font-family: "Didot", "serif";
	font-size:20px;
	color: #b8d1db
}
ul.b {
  list-style-type: square;
   margin-left: 80px;
   color:#ccc9b4
}
.overview{

	color:#ffff;
	font-size:30px;
}

</style>

</head>
<body>
<!--background-->
<h1 style="color:white"> About</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	
	<h2><a href="{{url_for('malaria')}}" style="color:white">Malaria</a>
	<a href="{{ url_for('malaria')}}">
          <span class="glyphicon glyphicon-home"style="color:white"  data-toggle="tooltip" title="Home"></span> 
        </a>	
	</h2>
	<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="static/images/malaria.jpg"/>
   </div>
   <div class='about'>
   <br><br>
   	<div class="overview">OVERVIEW</div><br>
	 Malaria is a life-threatening mosquito-borne blood disease. The Anopheles mosquito transmits it to humans.
	The parasites in mosquitos that spread malaria belong to the Plasmodium genus. 
	Over 100 types of Plasmodium parasite can infect a variety of species. 
	Different types replicate at different rates, changing how quickly the symptoms escalate, and the severity of the disease.
	<br>
	<br>
	<div class="overview">SYMPTOMPS</div><br>
		<ul class="b">
			<li>Chest pain, chest tightness, chest pressure and chest discomfort (angina)</li>
			<li>Shortness of breath</li>
			<li>Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed</li>
			<li>Pain in the neck, jaw, throat, upper abdomen or back</li>
		</ul>
	</p>
	</div>
	</div>
   </div>
   <!--copyright-->
			<div class="copy w3ls">
		       <p>Created By Alphin Jain</a> </p>
	        </div>
		<!--//copyright-->
		<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
</body>
</html>