<!DOCTYPE HTML>
<html>
<head>
<title>Medical Dieases Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medical Emergency Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates, 
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="static/css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script>
   $(function(){
            $('[data-toggle="tooltip"]').tooltip();
   })
</script>
<!--fonts--> 
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<!--//fonts--> 
</head>
<body>
<!--background-->
<h1 style="color:white">Liver Disease Prediction</h1>
    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Liver Disease Information <a href="{{ url_for('liver',about='about')}}">
	<span class="glyphicon glyphicon-info-sign" style="color:white"  data-toggle="tooltip" title="Liver Disease Info"></span>
	</a>
	 <a href="{{ url_for('home')}}">
          <span class="glyphicon glyphicon-home"style="color:white"  data-toggle="tooltip" title="Home"></span> 
        </a>
	</h2>
			<form action="{{ url_for('liver')}}"  method="post">
				<div class="left-agileits-w3layouts same">
					<div class="gaps">
						<p>Age</p>
						<input type="text" class="form-control" name="age" placeholder="" required=""/>
					</div>	
					<div class="gaps">
						<p>Gender</p>	
							<select class="form-control" id="gender"  name="gender" required>
							  <option></option>
							  <option value = "0">Male</option>
							  <option value = "1">Female</option>
							</select>
					</div>
					<div class="gaps">
						<p>Total Bilirubin in mg/dL</p>
						<input type="text" class="form-control" name="total_bilirubin" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Direct Bilirubin in mg/dL</p>
						<input type="text" class="form-control" name="direct_bilirubin" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Alkaline Phosphotase in IU/L</p>
						<input type="text" class="form-control" name="alkaline_phosphotase" placeholder="" required=""/>
					</div>
					
					<div class="gaps">
					</div>	
					<div class="gaps">
					</div>			
					<div class="gaps">	
					</div>
					<div class="gaps">
					</div>		
					<div class="gaps">	
					</div>
				</div>
				<div class="right-agileinfo same">
				<div class="gaps">
						<p>Alamine Aminotransferase in IU/L</p>
						<input type="text" class="form-control"  name="alamine_aminotransferase" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Aspartate Aminotransferase in IU/L</p>
						<input type="text" class="form-control" name="aspartate_aminotransferase" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Total Protiens g/dL</p>
						<input type="text" class="form-control" name="total_protiens" placeholder="" required=""/>
					</div>
					<div class="gaps">
						<p>Albumin g/dL</p>
						<input type="text" class="form-control" name="Albumin" required>
					</div>
					<div class="gaps">
						<p>Albumin and Globulin Ratio</p>
						<input type="text" step="any" class="form-control" name="Albumin_and_Globulin_Ratio" required>
					</div>			
				</div>
				<div class="clear"></div>
				<input type="submit" value="submit" value="Result">
			</form>
			<div id ="result">
			
		</div>
		</div>
   </div>
   <!--copyright-->
			<div class="copy w3ls">
		       <p>Created by Alphin Jain<a> </p>
	        </div>
		<!--//copyright-->
		<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>

</body>
</html>